body{
  color: hsla(52, 100%, 20%, 1.0);
  background-color: #FFDC00;
}

.lessPadding {
  padding: 10px;
}

.centerText {
  text-align: center;

}

#table{
  td{

  }
  th {

  }
  tr.checked{
    color: #cccccc;
    text-decoration: line-through;
  }
}

#header{
  font-family: monospace;
  letter-spacing: 10px;
  font-size: 40px;
}
